.dropdown {
  display: none;
  position: relative;
  background-color: brown;
  width: 100%;
}
div.drop-down {
  background-color: white;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border: 1px solid rgb(216, 216, 216);
  border-top: none;
  position: absolute;
  z-index: 5000;
  right: 5px;

}
li {
  list-style-type: none;
  margin: 15px 0;
  margin-left: 20px;
  font-size: 13px;
}
li a {
  color: green;  
}
