.banner {
  position: relative;
}
.banner-div img {
  width: 100%;
  height: 600px;
}
.banner .banner-content {
  position: absolute;
  top: 170px;
  left: 30%;
}
.banner-content h2 {
  padding: 50px;
  width: 600px;
  color: white;
  font-weight: 700;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.562);
  text-align: center;
}
.banner .banner-button {
  text-align: center;
  margin-top: 100px;
}
.hw-div-heading h2 {
  text-align: center;
  margin-top: 100px;
}
.hw-div-body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 50px;
}
.hw-div-body-entity {
  text-align: center;
}
.help-farming {
  padding-top: 50px;
  background-color: rgb(53, 53, 53);
}
.help-farming .heading {
  text-align: center;
  color: white;
}
.help-farming .farming-content {

}
.farm-content-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  padding-bottom: 100px;
}
.farm-content-div .line {
  height: 200px;
  width: 1px;
  background-color: white;
}
.farm-content-div > * {
  display: inline-block;
}
.help-farming .farming-content img {
  width: 200px;
  height: 150px;
}
div.underline {
  width: 200px;
  height: 1px;
  background-color: white;
  display: inline-block;
}