.dashboard-table {
  position: relative;
}
.dashboard-table .modal-div {
  position: absolute;
  top: 0;
  width: 100%;
}
.request-loan-table {
  margin-top: 30px;
  margin-left: 50px;
  /* border-bottom: 1px solid grey; */
  width: 90%;
}
.request-loan-table h3 {
  border-bottom: 4px solid grey;
}
.table-div {
  text-align: center;
  margin-top: 20px;
  /* width: 70%; */
}
table {
  background-color: rgb(204, 203, 203);
  display: inline-block;
}
th, td
{
padding: 5px 25px;
border: 2px solid rgb(204, 203, 203);
}