.form-container-div {
  padding-top: 70px;
  background-size: cover;
  position: relative;
  height: 400px;
}
.form-container-wide {
  padding-top: 20px;
  width: 50%;
  position: absolute;
  text-align: center;
  margin-left: 30%;
}
.form-container-wide .heading {
  color: rgb(4, 78, 26);
  margin-bottom: 40px;
}
select.form-contro {
  background-color: white;
}
.form-container-wide .input-control {
  margin-bottom: 20px;
}
.input-control .form-contro {
  margin-right: 10px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid grey;
}
.input-control.login {
  text-align: center;
  display: inline-block;
}
.input-control.login .form-contro {
  display: block;
  margin-bottom: 20px;
}
.input-control a {
  margin-left: 15px;
  color: rgb(4, 78, 26);
}