.side-content img {
  width: 500px;
  height: 100vh;
  position: fixed;
}
.side-content {
  display: inline-block;
  width: 700px;
  position: relative;
}
.img-overlay {
  height: 118vh;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.747);
  position: absolute;
  top: 0;
}