@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

.banner-header {
  text-align: center;
}
.banner-header h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
}

div.category-route a {
  display: block;
  color: black;
}

div.category-route a:hover {
  text-decoration: none;
}

div.category-route {
  font-size: 16px;
  padding: 5px 0 0 20px;
}

div.category-route h5 {
  margin-top: 15px;
  margin-bottom: -5px;
  color: orangered;
}

.main-banner Row {
  height: 150px;
  background-color: greenyellow;
}

.main-banner img {
  height: 500px;
  margin-left: 100px;
  width: 100%;
}
